/* STYLING */

// constants

.hover {
  cursor: pointer;
}

.h2 {
  font-family: 'Roboto Slab', serif;
  color: grey;
}

.sm-btn {
  border-radius: 10px;
  margin-top: 20px;
  height: 20px;
  margin-bottom: 20px;
  font-size: smaller;
}

// Title Section //
.wrapper {
  margin: 5%
}

.title {
  color: red;
  text-align: center;
  font-family: 'Carter One';
  grid-column: 1 / 5;
}

// Selection-Pane Section //

.selection-pane {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}


.filter-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: 'Roboto Slab', serif;
}

.filter-entry.selection-entry {
  height: 50px;
}

// .filter {
//   max-width: 200px;
//   text-align: left;
// }

// View Section //

.list-view {
  height: 60px;
  text-align: center;
  display: block;
}

// Pokemon List Section //

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
}

.pokemon-entry {
  font-family: 'Roboto Slab', serif;
}

.poke-image {
  width: 80%;
}
.poke-name {
  color: darkblue;
}

.poke-types {
  color: red;
  display: inline-block;
}

.add-to-party {
  height: 30px;
  text-align: center;
}
